body {
    background-color: #151515;
    color: navajowhite;
}
h1, h3 {
    text-align: center;
    color: yellow;
}

h2 {
    color: yellow;
}

.image {
    text-align: center;
}

.recipes#list {
    display: flex;
   justify-content: center;
}

a:hover, a:active {
    color: antiquewhite!important;
    text-decoration: none;
}

a:visited {
    color: orange;
    text-decoration: none;
}